/* line 82, icons/*.png */
.icons-sprite, .social-section .twitter, .social-section .twitter:hover, .social-section .facebook, .social-section .facebook:hover, .social-section .blog, .social-section .blog:hover {
  background: url('/../images/icons-s9f2ed9478f.png') no-repeat;
}

/* line 1, sass/_blog.scss */
article {
  margin: 75px auto 0 auto;
  width: 700px;
}

/* line 6, sass/_blog.scss */
article + article {
  margin-top: 110px;
}

/* line 10, sass/_blog.scss */
.date {
  color: #979797;
  text-align: center;
}

/* line 15, sass/_blog.scss */
.title {
  margin-bottom: 10px;
  text-align: center;
}
/* line 19, sass/_blog.scss */
.title a {
  color: #212B18;
  text-decoration: none;
}
/* line 23, sass/_blog.scss */
.title a:hover {
  color: #246310;
}

/* line 30, sass/_blog.scss */
.content p {
  margin-bottom: 20px;
}

/* line 35, sass/_blog.scss */
.pagination {
  margin: 75px 0;
}

/* line 39, sass/_blog.scss */
.previous, .first-page-previous {
  background: -webkit-linear-gradient(-180deg, #5db321 0%, #4f991a 100%);
  background: -moz-linear-gradient(-180deg, #5db321 0%, #4f991a 100%);
  background: -o-linear-gradient(-180deg, #5db321 0%, #4f991a 100%);
  background: linear-gradient(-180deg, #5db321 0%, #4f991a 100%);
  color: #fff;
  border-radius: 5px;
  display: block;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  width: 220px;
}

/* line 53, sass/_blog.scss */
.first-page-previous {
  margin: auto;
}

/* line 5, sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 10, sass/style.scss */
html {
  height: 100%;
}

/* line 14, sass/style.scss */
body {
  background: #fdfdfc;
  font-family: "Open Sans", Helvetica, sans-serif;
  min-height: 100%;
  position: relative;
}

/* line 21, sass/style.scss */
.wrapper {
  padding-bottom: 50px;
}

/* line 25, sass/style.scss */
.inner-container {
  margin: auto;
  width: 820px;
}

/* line 30, sass/style.scss */
nav {
  background: #222f1a;
  height: 60px;
}
/* line 34, sass/style.scss */
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
  margin-top: 19px;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 48, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li:first-child, nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li.last {
  padding-right: 0;
}
/* line 40, sass/style.scss */
nav a {
  color: #ABB1A5;
  text-decoration: none;
}
/* line 44, sass/style.scss */
nav a:hover {
  color: #fff;
}

/* line 50, sass/style.scss */
.banner {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 10px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 10px 0;
  background: url(../images/banner-bg.jpg);
  background-size: cover;
  height: 522px;
}
/* line 56, sass/style.scss */
.banner .iphone-img {
  float: left;
  position: relative;
  top: -50px;
}
/* line 62, sass/style.scss */
.banner .banner-info {
  color: #fff;
  float: right;
  margin-top: 50px;
  width: 400px;
}
/* line 68, sass/style.scss */
.banner .banner-info h1 {
  display: block;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
/* line 76, sass/style.scss */
.banner .banner-info .subtitle {
  display: block;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: -13px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
/* line 85, sass/style.scss */
.banner .banner-info p {
  font-size: 22px;
  line-height: 31px;
  margin-top: 35px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
/* line 92, sass/style.scss */
.banner .banner-info .available-app-store-img {
  margin-top: 50px;
}

/* line 99, sass/style.scss */
.app-details .header-tagline {
  color: #253509;
  font-size: 38px;
  font-weight: normal;
  margin: 170px 0 50px 0;
  text-align: center;
}
/* line 107, sass/style.scss */
.app-details h3 {
  color: #1a2705;
  font-size: 27px;
  margin-bottom: 20px;
}
/* line 113, sass/style.scss */
.app-details p {
  color: #2f3b1d;
}
/* line 117, sass/style.scss */
.app-details .block, .app-details .left-block, .app-details .right-block {
  overflow: hidden;
  padding: 55px 0;
}
/* line 125, sass/style.scss */
.app-details .left-block .block-text {
  float: left;
  line-height: 22px;
  margin-top: 70px;
  width: 430px;
}
/* line 132, sass/style.scss */
.app-details .left-block .customize-block {
  margin-top: 120px;
}
/* line 136, sass/style.scss */
.app-details .left-block img {
  float: right;
}
/* line 141, sass/style.scss */
.app-details .right-block {
  background: #f8f8f7;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
/* line 147, sass/style.scss */
.app-details .right-block img {
  float: left;
}
/* line 151, sass/style.scss */
.app-details .right-block .block-text {
  float: right;
  line-height: 22px;
  margin-top: 110px;
  width: 350px;
}
/* line 159, sass/style.scss */
.app-details .download {
  background: url("../images/letters-bg.png") no-repeat;
  background-position: 57% 10%;
  padding: 150px 0;
}
/* line 164, sass/style.scss */
.app-details .download img {
  display: block;
  margin: auto;
}

/* line 171, sass/style.scss */
.social-section {
  background: -webkit-linear-gradient(-180deg, #4e991d 0%, #458719 100%);
  background: -moz-linear-gradient(-180deg, #4e991d 0%, #458719 100%);
  background: -o-linear-gradient(-180deg, #4e991d 0%, #458719 100%);
  background: linear-gradient(-180deg, #4e991d 0%, #458719 100%);
  height: 95px;
}
/* line 175, sass/style.scss */
.social-section ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding: 23px 0 0 40px;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.social-section ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 32px;
  padding-right: 32px;
}
/* line 48, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.social-section ul li:first-child, .social-section ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.social-section ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.social-section ul li.last {
  padding-right: 0;
}
/* line 180, sass/style.scss */
.social-section .social-tagline {
  color: #fff;
  font-size: 25px;
  line-height: 47px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
/* line 187, sass/style.scss */
.social-section .social-link, .social-section .twitter, .social-section .facebook, .social-section .blog {
  background-repeat: no-repeat;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  text-indent: 62px;
}
/* line 197, sass/style.scss */
.social-section .social-link:hover, .social-section .twitter:hover, .social-section .facebook:hover, .social-section .blog:hover {
  color: #005305;
}
/* line 202, sass/style.scss */
.social-section .twitter {
  background-position: 0 -50px;
}
/* line 206, sass/style.scss */
.social-section .twitter:hover {
  background-position: 0 0;
}
/* line 211, sass/style.scss */
.social-section .facebook {
  background-position: 0 -250px;
}
/* line 215, sass/style.scss */
.social-section .facebook:hover {
  background-position: 0 -200px;
}
/* line 220, sass/style.scss */
.social-section .blog {
  background-position: 0 -100px;
}
/* line 224, sass/style.scss */
.social-section .blog:hover {
  background-position: 0 -150px;
}

/* line 230, sass/style.scss */
footer {
  background: -webkit-linear-gradient(-180deg, #242c1a 0%, #1f2616 100%);
  background: -moz-linear-gradient(-180deg, #242c1a 0%, #1f2616 100%);
  background: -o-linear-gradient(-180deg, #242c1a 0%, #1f2616 100%);
  background: linear-gradient(-180deg, #242c1a 0%, #1f2616 100%);
  bottom: 0;
  height: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 239, sass/style.scss */
footer a {
  color: #c2cbb1;
  text-decoration: none;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
/* line 244, sass/style.scss */
footer a:hover {
  color: #eee;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-light/OpenSans-Light-webfont.eot");
  src: url("../fonts/opensans-light/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/opensans-light/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/opensans-light/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular/OpenSans-Regular-webfont.eot");
  src: url("../fonts/opensans-regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans-regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-semibold/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/opensans-semibold/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans-bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans-bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
