article {
	margin: 110px auto 0 auto;
	width: 700px;

	&:last-child {
		margin-bottom: 140px;
	}
}

.date {
	color: #979797;
	text-align: center;
}

.title {
	margin-bottom: 10px;
	text-align: center;

	a {
		color: #212B18;
		text-decoration: none;

		&:hover {
			color: #246310;
		}
	}
}

.content {
	p {
		margin-bottom: 20px;
	}

	a {
		color: #00a700;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	img {
		display: block;
		margin: auto;
	}
}

.pagination {
	margin: 75px auto;
	overflow: hidden;
	width: 700px;
}

.paginator-button {
	@include background(linear-gradient(-180deg, #61BD22 0%, #54A31D 100%));
	color: #fff;
	border-radius: 5px;
	display: block;
	font-size: 18px;
	font-weight: 600;
	height: 45px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.20);
	width: 150px;

	&:hover {
		@include background(linear-gradient(-180deg, #5BB01F 0%, #4D971B 100%));
	}

	&:active {
		@include background(linear-gradient(-180deg, #54A31D 0%, #5CB320 100%));
	}
}

.older-paginator {
	@extend .paginator-button;
	float: left;
}

.newer-paginator {
	@extend .paginator-button;
	float: right;
}
